html {
  padding-left: 5rem;
  padding-right: 5rem;
}
body {
  padding-left: 1rem;
}
#post_index {
  padding-left: 1rem;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
#tag {
  color: white;
  font-size: 0.8rem;
}
