html {
  // padding-left: 4rem;
  // padding-right: 4rem;
}
body {
  // padding-left: 1rem;
  width: 80%;
  margin: auto;
}
#post_index {
  padding-left: 1rem;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
#tag {
  color: white;
  font-size: 0.8rem;
}
